---
import Layout from '@layouts/LayoutEn.astro';
import ContactForm from '@components/contact/section/ContactForm.astro';

const pageMeta = {
  title: "Contact",
};
---

<Layout
  title=""
  pageName="contact"
  meta={pageMeta}
>

<div class="l-main-content" data-main-content>
  <ContactForm />
</div>

</Layout>

<style lang="scss" is:global>
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

</style>
