---
import Layout from '@layouts/Layout.astro';
import Head from '@components/about/section/Head.astro';
import Clients from '@components/about/section/Clients.astro';
import Business from '@components/about/section/Business.astro';
import Awards from '@components/about/section/Awards.astro';
import Cube from '@components/about/section/Cube.astro';
import PressMedia from '@components/about/section/PressMedia.astro';

const pageMeta = {
  title: "About",
};
---

<Layout
  title=""
  pageName="about"
  meta={pageMeta}
>

<div class="l-main-content" data-main-content>
  <Head />
  <Clients />
  <Cube />
  <Business />
  <Awards />
  <PressMedia />
</div>

</Layout>

<style lang="scss" is:global>
@use '../../assets/scss/mediaquery' as me;
@use '../../assets/scss/mixin' as mi;

</style>

<script>
import {webgl} from '../../assets/js/modules/WebGL/index.js';

webgl.init();
</script>
