---
---
<div class="p-news-info">
  <!-- フィルタリング状態（絞り込み時） -->
  <div class="p-news-info__title js-search-info" data-state="false" data-filter-type="filtered">
    <span class="p-news-info__title-name"></span>
    <a href="/news/" class="p-news-info__title-back">
      <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.18328 0.697925L10.1346 1.64926L6.42134 5.36253L10.1346 9.0758L9.18328 10.0271L5.47001 6.31386L1.64933 10.1345L0.697996 9.18321L4.51867 5.36253L0.820748 1.6646L1.77208 0.713269L5.47001 4.41119L9.18328 0.697925Z" fill="white"/></svg>
    </a>
  </div>
</div>


<style lang="scss">
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.p-news-info {

  &__title {
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-block-start: 70px;
    color: var(--c-white);
    font-size: 1.2rem;
    font-weight: 600;
    @include me.sp {
      margin-block-start: 60px;
    }

    &[data-state="false"] {
      display: none;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    &-name {

    }

    &-num {

    }

    &-back {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 12px;
      height: 12px;
    }
  }

  &-switch {
    display: flex;
    gap: 16px;
    margin-block-start: 16px;
    @include me.sp {
      display: none;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      min-height: 12px;
      color: var(--c-white);
      font-size: 0;
      cursor: pointer;
      &.is-active {
        svg rect {
          fill: var(--c-gray);
        }
      }
      svg rect {
        transition: fill .3s var(--ease-out-quad);
      }
    }
  }
}
</style>
