---

---

<nav class="p-project-detail__fixedNavi">
  <ul class="p-project-detail__fixedNavi-list">
    <li data-navi="prev" class="p-project-detail__fixedNavi-item --first">
      <a href="#">Prev</a>
    </li>
    <li data-navi="projects" class="p-project-detail__fixedNavi-item">
      <a href="/projects/">All Projects</a>
    </li>
    <li data-navi="next" class="p-project-detail__fixedNavi-item --last">
      <a href="#">Next</a>
    </li>
  </ul>
</nav>

<style lang="scss">
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.p-project-detail__fixedNavi {

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: solid 1px var(--c-gray);
    border-bottom: solid 1px var(--c-gray);
  }

  &-item {
    height: 60px;
    &:last-child a {
      &::after {
        background-color: transparent;
      }
    }
    &.--first,
    &.--last{
      a {
        pointer-events: none;
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      color: var(--c-white);
      font-size: 1.4rem;
      font-weight: 600;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: var(--c-gray);
      }
    }
  }

}

</style>
