@use 'font.scss' as *;
@use 'mediaquery' as me;

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%; //1.0rem = 10px
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  // font-family: $fontfamily;
  font-family: var(--f-en);
  font-size: 1.0rem;

  &::selection {
    background-color: var(--c-focus);
  }
}

a {
  color: var(--c-black);
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

//text
h1, h2, h3, h4, h5 ,h6, div, dl, dt, dd, p {
  margin:0;
  padding: 0;
}

ul, ol, li {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
small {
  font-size: 87.5%;
}
em, i {
  font-style: normal;
}

img {
  /* 保存禁止 */
  pointer-events: none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-touch-callout:none;
    -moz-user-select:none;
  touch-callout:none;
  user-select:none;
}

img, svg {
  vertical-align: text-top;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
figure {
  margin: 0;
  padding: 0;
}

video {
  max-width: 100%;
}

input, select, button {
  color: var(--c-black);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
  -moz-appearance:textfield;
}
button {
  appearance: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}
button, select {
  cursor: pointer;
}

a:focus,
input:focus,
button:focus {
  outline: 0;
  // box-shadow: 0 0 4px .2rem var(--c-focus);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: var(--c-white) !important;
    background-color: transparent !important;
    transition: background-color 5000s ease-in-out 0s !important;
  }
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

.pc {
  @include me.sp {
    display: none !important;
  }
}

.sp {
  @include me.pc {
    display: none !important;
  }
}
