---
---

<article class="p-jobs-article">
  <div class="p-jobs-article__kv">
    <figure>
      <img src="/common/images/career/jobs_kv.png" alt="">
    </figure>
  </div>

  <div class="p-jobs-article__info">
    <h2 class="p-jobs-article__info-caption">デジタル領域を横断する統合的なブランディング</h2>
    <div class="p-jobs-article__info-about">
      <span>代表取締役</span>
      <span>tadamasa iguchi</span>
    </div>
  </div>

  <div class="p-jobs-article__content">
    <p>
      IN FOCUSは2012年に創業した東京のデジタルブランディングスタジオです。 企業やブランドの核となる概念やコンセプトの表現としてWeb、映像、グラフィック、写真といったデジタル領域における様々な性質を掛け合わせる事を得意とし、ディレクター、デザイナー、プログラマー、プロデューサー、映像作家、ライターといった専門性の高いメンバーがデジタルを共通項としてクリエイティブを並列に捉え、統合する事により新しい視点を提案します。IN FOCUSは2012年に創業した東京のデジタルブランディングスタジオです。 企業やブランドの核となる概念やコンセプトの表現としてWeb、映像、グラフィック、写真といったデジタル領域における様々な性質を掛け合わせる事を得意とし、ディレクター、デザイナー、プログラマー、プロデューサー、映像作家、ライターといった専門性の高いメンバーがデジタルを共通項としてクリエイティブを並列に捉え、統合する事により新しい視点を提案します。
    </p>
    <p>
      IN FOCUSは2012年に創業した東京のデジタルブランディングスタジオです。 企業やブランドの核となる概念やコンセプトの表現としてWeb、映像、グラフィック、写真といったデジタル領域における様々な性質を掛け合わせる事を得意とし、ディレクター、デザイナー、プログラマー、プロデューサー、映像作家、ライターといった専門性の高いメンバーがデジタルを共通項としてクリエイティブを並列に捉え、統合する事により新しい視点を提案します。IN FOCUSは2012年に創業した東京のデジタルブランディングスタジオです。 企業やブランドの核となる概念やコンセプトの表現としてWeb、映像、グラフィック、写真といったデジタル領域における様々な性質を掛け合わせる事を得意とし、ディレクター、デザイナー、プログラマー、プロデューサー、映像作家、ライターといった専門性の高いメンバーがデジタルを共通項としてクリエイティブを並列に捉え、統合する事により新しい視点を提案します。
    </p>
    <p>
      <figure>
        <img src="/common/images/career/jobs_pic01.png" alt="">
      </figure>
    </p>
    <p>
      IN FOCUSは2012年に創業した東京のデジタルブランディングスタジオです。 企業やブランドの核となる概念やコンセプトの表現としてWeb、映像、グラフィック、写真といったデジタル領域における様々な性質を掛け合わせる事を得意とし、ディレクター、デザイナー、プログラマー、プロデューサー、映像作家、ライターといった専門性の高いメンバーがデジタルを共通項としてクリエイティブを並列に捉え、統合する事により新しい視点を提案します。IN FOCUSは2012年に創業した東京のデジタルブランディングスタジオです。 企業やブランドの核となる概念やコンセプトの表現としてWeb、映像、グラフィック、写真といったデジタル領域における様々な性質を掛け合わせる事を得意とし、ディレクター、デザイナー、プログラマー、プロデューサー、映像作家、ライターといった専門性の高いメンバーがデジタルを共通項としてクリエイティブを並列に捉え、統合する事により新しい視点を提案します。
    </p>
    <div data-column="2">
      <figure>
          <img src="/common/images/career/jobs_pic02.png" alt="">
        </figure>
      <figure>
          <img src="/common/images/career/jobs_pic02.png" alt="">
        </figure>
    </div>
    <p>
      IN FOCUSは2012年に創業した東京のデジタルブランディングスタジオです。 企業やブランドの核となる概念やコンセプトの表現としてWeb、映像、グラフィック、写真といったデジタル領域における様々な性質を掛け合わせる事を得意とし、ディレクター、デザイナー、プログラマー、プロデューサー、映像作家、ライターといった専門性の高いメンバーがデジタルを共通項としてクリエイティブを並列に捉え、統合する事により新しい視点を提案します。IN FOCUSは2012年に創業した東京のデジタルブランディングスタジオです。 企業やブランドの核となる概念やコンセプトの表現としてWeb、映像、グラフィック、写真といったデジタル領域における様々な性質を掛け合わせる事を得意とし、ディレクター、デザイナー、プログラマー、プロデューサー、映像作家、ライターといった専門性の高いメンバーがデジタルを共通項としてクリエイティブを並列に捉え、統合する事により新しい視点を提案します。
    </p>
    <p>
      IN FOCUSは2012年に創業した東京のデジタルブランディングスタジオです。 企業やブランドの核となる概念やコンセプトの表現としてWeb、映像、グラフィック、写真といったデジタル領域における様々な性質を掛け合わせる事を得意とし、ディレクター、デザイナー、プログラマー、プロデューサー、映像作家、ライターといった専門性の高いメンバーがデジタルを共通項としてクリエイティブを並列に捉え、統合する事により新しい視点を提案します。IN FOCUSは2012年に創業した東京のデジタルブランディングスタジオです。 企業やブランドの核となる概念やコンセプトの表現としてWeb、映像、グラフィック、写真といったデジタル領域における様々な性質を掛け合わせる事を得意とし、ディレクター、デザイナー、プログラマー、プロデューサー、映像作家、ライターといった専門性の高いメンバーがデジタルを共通項としてクリエイティブを並列に捉え、統合する事により新しい視点を提案します。
    </p>
  </div>
</article>

<style lang="scss">
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.p-jobs-article {
  @include me.pc {
    padding-block: 40px 100px;
  }
  @include me.sp {
    padding-inline: 20px;
    padding-block: 20px 80px;
  }

  &__kv {
    @include me.pc {
      padding-inline: 30px;
    }
  }

  &__info {
    display: grid;
    @include me.pc {
      row-gap: 20px;
      margin-block-start: 50px;
      padding-inline: 100px;
    }
    @include me.sp {
      row-gap: 8px;
      margin-block-start: 24px;
    }

    &-caption {
      font-size: 2.6rem;
      font-weight: 700;
      line-height: 1.8;
      @include me.sp {
        font-size: 2rem;
        line-height: 1.6;
      }
    }

    &-about {
      display: flex;
      align-items: flex-end;
      column-gap: 16px;
      font-size: 1.6rem;
      font-weight: 600;
      @include me.sp {
        font-size: 1.4rem;
      }
    }
  }

  &__content {
    display: grid;
    row-gap: 50px;
    margin-block-start: 40px;
    font-family: var(--f-jp);
    font-size: 1.4rem;
    line-height: 1.8;
    @include me.pc {
      padding-inline: 100px;
    }
    @include me.sp {
      line-height: 1.6;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.8;
      @include me.sp {
        line-height: 1.6;
      }
    }

    div {
      display: grid;
      &[data-column="2"] {
        column-gap: 20px;
        row-gap: 30px;
        @include me.pc {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
</style>
