---
---

<article class="p-jobs-article">
  <div class="p-jobs-article__kv">
    <figure>
      <img src="/common/images/career/jobs_kv.png" alt="">
    </figure>
  </div>

  <div class="p-jobs-article__info">
    <h2 class="p-jobs-article__info-caption">CEO MESSAGE</h2>
    <div class="p-jobs-article__info-about">
      <span>代表取締役</span>
      <span>tadamasa iguchi</span>
    </div>
  </div>

  <div class="p-jobs-article__content">
    <p>
      IN FOCUSは、Web、映像、グラフィック、写真といった多様なデジタル表現を横断的に組み合わせ、クライアントの目的や課題に焦点を合わせた制作を行うデジタルブランディングスタジオです。プロジェクトやブランドの本質を捉え、ディレクター、デザイナー、プログラマー、プロデューサー、映像作家、ライターといった専門性の高いメンバーが、デジタルを共通項としてクリエイティブを並列に捉え、表現を交差させることで新しい視点を提案します。
    </p>
    <p>
      この考え方は、僕自身のキャリア経験から深く根付いています。20歳のとき、渋谷のクラブでマネージャーをしていた僕は、仲間と共にイベントフライヤーを自作しはじめたことからデザインの世界に触れました。その後、縁あって写真やグラフィックを学び、さらにサンフランシスコに渡り、ほとんど知識がない状態からWeb制作に挑戦することになります。学びながら実務を重ねる中で、写真・デザイン・Webを横断して提供する形が自然とつくられていきました。こうした経験を通じて、「最適な表現手段を組み合わせることでこそ、クライアントに本質的な価値を届けられる」という確信を持つに至りました。これが現在のIN FOCUSの理念の原点になっています。
    </p>
    <p>
      元々は友人たちとはじめた小さなチームでしたが、領域をまたぎ掛け合わせるスタイルには確かなニーズがあり、結果としてトップブランドとの仕事にもつながっていきました。立ち上げ当初は想像もしていなかった展開です。社会が大きく変化した状況でも、デジタル需要の高まりに合わせてWebサイトのリニューアルやリブランディングの依頼が相次ぎ、事業も大きく成長しました。僕たち自身も「組織の新しい在り方」を強く意識するようになりました。そうして生まれたのが実験空間としてのクリエイティブスタジオ「CONTRAST」、そしてニューヨークオフィス設立という、日本だけにとどまらない海外への挑戦です。
    </p>
    <p>
      技術や環境は常に変わり続けていきますが、そのたびに僕たちは適応し、向き合いながら表現を探ってきました。時代の流れに呼応しながらも同化せず、挑戦を続けること。それこそが「IN FOCUSらしさ」だと考えています。
    </p>
    <p>
      IN FOCUSは、一人ひとりが専門性を持ちながら、チームとして有機的につながる「独立した集団」です。個の自律性を尊重しつつ、互いの強みを掛け合わせることで、一人では成し得ない大きな成果を生み出す。プロジェクトごとに部門を横断してチームを編成し、共創的なデジタルブランディングを提供できることが、IN FOCUSの大きな強みです。
    </p>
    <p>
      これからも僕たちは挑戦を続けます。<br>
      東京とニューヨークの2拠点にオフィスをかまえ、国内外を問わず多様なクライアントと協働し、新しい表現や価値を生み出していくこと。メンバー一人ひとりの成長が組織全体の成長につながり、積み重ねた実績がさらに広い世界へとつながっていくこと。こうした相乗効果を育みながら、時代や社会の変化、テクノロジーの進化を見据え、最適な表現を追求し続ける。それこそが、僕たちの目指す姿です。
    </p>
    <p>
      次の挑戦を共にする、新しい仲間との出会いを楽しみにしています。
    </p>
  </div>
</article>

<style lang="scss">
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.p-jobs-article {
  @include me.pc {
    padding-block: 40px 100px;
  }
  @include me.sp {
    padding-inline: 20px;
    padding-block: 20px 80px;
  }

  &__kv {
    @include me.pc {
      padding-inline: 30px;
    }
  }

  &__info {
    display: grid;
    @include me.pc {
      row-gap: 20px;
      margin-block-start: 50px;
      padding-inline: 100px;
    }
    @include me.sp {
      row-gap: 8px;
      margin-block-start: 24px;
    }

    &-caption {
      font-size: 2.6rem;
      font-weight: 700;
      line-height: 1.8;
      @include me.sp {
        font-size: 2rem;
        line-height: 1.6;
      }
    }

    &-about {
      display: flex;
      align-items: flex-end;
      column-gap: 16px;
      font-size: 1.6rem;
      font-weight: 600;
      @include me.sp {
        font-size: 1.4rem;
      }
    }
  }

  &__content {
    display: grid;
    row-gap: 50px;
    margin-block-start: 40px;
    font-family: var(--f-jp);
    font-size: 1.4rem;
    line-height: 1.8;
    @include me.pc {
      padding-inline: 100px;
    }
    @include me.sp {
      line-height: 1.6;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.8;
      @include me.sp {
        line-height: 1.6;
      }
    }

    div {
      display: grid;
      &[data-column="2"] {
        column-gap: 20px;
        row-gap: 30px;
        @include me.pc {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}
</style>
