---
---

<div id="intro" class="p-career-intro">
  <div class="p-career-intro__heading">
    <span class="p-career-intro__heading-sub">We are the</span>
    <p class="p-career-intro__heading-main">
      <span>INDEPENDENT</span>
      <i></i>
      <span>COLLECTIVE</span>
    </p>
  </div>

  <div class="p-career-intro__about">
    <span class="p-career-intro__about-caption">独立した集団</span>
    <p class="p-career-intro__about-desc">
      インフォーカスは、グラフィック、WEB、映像、写真といった多様な領域を横断し、クライアントの本質を可視化します。 またはそれらはデジタルブランディングという上位概念の中で体系的に分化し、同時に共通の性質で結びついています。 デジタル (digital) はラテン語の digitus（指）に由来しています。指で数える「数（digit）」から転じて、「離散的」な値で表すものを意味するようになりました。 デジタルの反対にあるアナログの意味は「連続的」。時間や量が連続的につながって変化する事を表しています。 私たちはこの対比を基盤に据え、独立して存在するものが統合されずに機能する状態を価値と捉えます。 異なる専門性がそれぞれにパターンを描き、オーケストラのような一体感を持ち、互いに重なり合いながらも同化しない。 その姿こそ「独立した集団」であり、デジタルブランディングを担うインフォーカスが目指すべき姿です。
    </p>
  </div>

  <div class="p-career-intro__bg">
    <picture>
      <source media="(min-width: 769px)" srcset="/common/images/career/bg.png">
      <img src="/common/images/career/bg.png" alt="">
    </picture>
  </div>
</div>

<style lang="scss">
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.p-career-intro {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  position: relative;
  padding-block: 100px;
  @include me.pc {
    padding-inline-start: 40px;
  }
  @include me.sp {
    padding-inline: 20px;
  }

  &__heading {
    display: grid;
    row-gap: 34px;
    position: relative;
    z-index: 2;
    @include me.sp {
      row-gap: 14px;
    }

    &-sub {
      font-size: 4rem;
      line-height: 1.1;
      @include me.sp {
        font-size: 1.8rem;
      }
    }

    &-main {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-size: 11rem;
      font-weight: 600;
      line-height: 0.95;
      @include me.pc {
        gap: 30px;
      }
      @include me.sp {
        column-gap: 16px;
        font-size: 4.4rem;
      }

      span {
        display: block;
        &:first-child {
          width: 100%;
        }
      }

      i {
        display: inline-block;
        width: 100px;
        height: 10px;
        margin-inline-start: 27px;
        margin-block-start: 16px;
        background-color: var(--c-white);
        @include me.sp {
          width: 44px;
          height: 4px;
          margin-inline-start: 10px;
          margin-block-start: 6px;
        }
      }
    }
  }

  &__about {
    display: grid;
    row-gap: 24px;
    position: relative;
    z-index: 2;
    font-family: var(--f-jp);
    @include me.pc {
      align-self: flex-end;
      max-width: 46.0344%;
      margin-inline-end: 173px;
    }

    &-caption {
      font-size: 1.8rem;
      line-height: 1.8;
    }

    &-desc {
      font-size: 1.4rem;
      line-height: 1.8;
    }
  }

  &__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      object-fit: cover;
    }
  }
}
</style>
