---
import ButtonJoin from "../parts/ButtonJoin.astro";

interface Props {
  lang?: 'en' | 'ja'
}

const { lang = 'ja' } = Astro.props;
---

<section id="position" class="p-career-position">
  <h2 class="p-career-position__title">OPEN POSITIONS</h2>
  <span class="p-career-position__sub">現在募集中のポジション</span>

  <div class="p-career-position__content">
    <!-- Career positions will be rendered by JavaScript -->
  </div>

  <div class="p-career-position__info">
    <dl class="p-career-position__info-item">
      <dt class="p-career-position__info-heading">
        <span class="p-career-position__info-label">応募方法</span>
      </dt>
      <dd class="p-career-position__info-content">
        CONTACTページから、履歴書と過去の実績が分かるポートフォリオをお送り下さい。<br>
        経理 / 総務 / ギャラリー運営（アシスタント）に応募にされる方は履歴書のみ提出下さい。
      </dd>
    </dl>
  </div>

  <div class="p-career-position__btn">
    <ButtonJoin lang={lang} />
  </div>
</section>


<style lang="scss" is:global>
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.p-career-position {
  padding-inline: 40px;
  padding-block: 100px;
  border-top: solid 1px var(--c-gray);
  @include me.sp {
    padding-inline: 20px;
    padding-block: 60px 40px;
  }

  &__title {
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 0.96;
    letter-spacing: -0.02rem;
    @include me.sp {
      font-size: 3.4rem;
      line-height: 1.4;
    }
  }

  &__sub {
    display: inline-block;
    margin-block-start: 16px;
    font-size: 16px;
    line-height: 1.6;
  }

  &__content {
    margin-block-start: 60px;
  }

  &__info {
    margin-block-start: 50px;

    &-item {
      display: grid;
      @include me.pc {
        grid-template-columns: max-content 1fr;
        column-gap: 52px;
      }
      @include me.sp {
        row-gap: 16px;
      }
    }

    &-heading {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.8;
    }

    &-label {
      display: inline-block;
      padding-inline: 10px;
      padding-block: 2px;
      background-color: var(--c-white);
      color: var(--c-black-base);
    }

    &-content {
      font-size: 1.4rem;
      line-height: 1.7;
    }
  }

  &__btn {
    margin-block-start: 40px;
    @include me.pc {
      max-width: 380px;
    }
    @include me.sp {
      display: none;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

details > summary,
summary {
  list-style: none;
  &::-webkit-details-marker,
  &::marker {
    display: none;
  }
}

.c-accordion {

  &__wrap {
    padding-block-end: 16px;
    border-top: solid 1px var(--c-gray03);
    border-bottom: solid 1px var(--c-gray03);
    @include me.pc {
      position: relative;
      &::after {
        content: "";
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 62.8px;
        background-color: var(--c-white);
        transition: opacity .3s var(--ease-in-out-quad);
      }
      &:hover {
        &::after {
          opacity: 1;
        }
        .c-accordion__head-title,
        .c-accordion__head-icon {
          color: var(--c-black-base);
        }
        .c-accordion__head-category {
          color: rgba(#000, 0.5);
        }
      }
    }
  }

  &__head {
    display: grid;
    align-items: center;
    padding-block: 16px 0;
    @include me.pc {
      grid-template-columns: 383px 1fr max-content;
      column-gap: 14px;
      position: relative;
      z-index: 2;
      cursor: pointer;
    }
    @include me.sp {
      grid-template-columns: calc(68.6842%) 1fr max-content;
      column-gap: 20px;
    }

    &-title {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.6;
      @include me.sp {
        font-size: 1.6rem;
      }
    }

    &-category {
      color: rgba($color: #FFFFFF, $alpha: 0.5);
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.6;
      @include me.sp {
        font-size: 1.4rem;
      }
    }

    &-icon {
      font-size: 1.6rem;
      line-height: 1.6;
      @include me.sp {
        font-size: 1.6rem;
      }
    }
  }

  &__content {
    display: grid;
    row-gap: 32px;
    padding-block: 36px;
    @include me.pc {
      margin-inline-start: calc(383px + 14px);
    }

    dl {
      display: grid;
      row-gap: 12px;
    }

    dt {
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 1.8;
    }

    span {
      display: inline-block;
      padding-inline: 10px;
      padding-block: 2px;
      background-color: var(--c-white);
      color: var(--c-black-base);
    }

    dd {
      font-size: 1.4rem;
      line-height: 1.7;

      p:not(:first-child) {
        margin-block-start: 8px;
      }

      ul {
        display: grid;
        row-gap: 4px;

        li {
          display: grid;
          grid-template-columns: max-content 1fr;
          column-gap: 2px;

          &::before {
            content: "・";
          }
        }
      }
    }
  }
}
</style>
