---
import Accordion from "../parts/Accordion.astro";
import ButtonJoin from "../parts/ButtonJoin.astro";

interface Props {
  positions: any[];
}

const { positions } = Astro.props;

// APIデータをアコーディオン用の形式に変換
// 改行コードを<br>タグに変換する関数
const formatTextWithBreaks = (text: string | undefined) => {
  if (!text) return '';
  return text.replace(/\r\n|\n|\r/g, '<br>');
};

const formattedPositions = positions.map(position => ({
  title: position.title.rendered,
  place: position.acfs.place,
  data: [
    {
      label: '仕事内容',
      content: formatTextWithBreaks(position.acfs.details)
    },
    {
      label: '応募資格',
      content: formatTextWithBreaks(position.acfs.requires)
    },
    {
      label: '教育スキル',
      content: formatTextWithBreaks(position.acfs.skill)
    },
    {
      label: '雇用形態',
      content: formatTextWithBreaks(position.acfs.type)
    },
    {
      label: '勤務地',
      content: formatTextWithBreaks(position.acfs.location)
    },
    {
      label: '勤務時間',
      content: formatTextWithBreaks(position.acfs.hours)
    },
    {
      label: '給与',
      content: formatTextWithBreaks(position.acfs.salary)
    },
    {
      label: '待遇',
      content: formatTextWithBreaks(position.acfs.benefis)
    },
    {
      label: '休日・休暇',
      content: formatTextWithBreaks(position.acfs.timeoff)
    }
  ].filter(item => item.content) // データがある項目のみ表示
}));
---

<section id="position" class="p-career-position">
  <h2 class="p-career-position__title">OPEN POSITIONS</h2>
  <span class="p-career-position__sub">現在募集中のポジション</span>

  <div class="p-career-position__content">
    {formattedPositions.map((item) => (
      <Accordion
        title={item.title}
        sub={item.place}
        jobData={item.data}
      />
    ))}
  </div>

  <div class="p-career-position__info">
    <dl class="p-career-position__info-item">
      <dt class="p-career-position__info-heading">
        <span class="p-career-position__info-label">応募方法</span>
      </dt>
      <dd class="p-career-position__info-content">
        CONTACTページから、履歴書と過去の実績が分かるポートフォリオをお送り下さい。<br>
        経理 / 総務 / ギャラリー運営（アシスタント）に応募にされる方は履歴書のみ提出下さい。
      </dd>
    </dl>
  </div>

  <div class="p-career-position__btn">
    <ButtonJoin />
  </div>
</section>


<style lang="scss">
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.p-career-position {
  padding-inline: 40px;
  padding-block: 100px;
  border-top: solid 2px var(--c-gray);
  @include me.sp {
    padding-inline: 20px;
    padding-block: 80px 40px;
  }

  &__title {
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 0.96;
    letter-spacing: -0.02rem;
    @include me.sp {
      font-size: 3.4rem;
      line-height: 1.4;
    }
  }

  &__sub {
    display: inline-block;
    margin-block-start: 16px;
    font-size: 16px;
    line-height: 1.6;
  }

  &__content {
    margin-block-start: 60px;
  }

  &__info {
    margin-block-start: 50px;

    &-item {
      display: grid;
      @include me.pc {
        grid-template-columns: max-content 1fr;
        column-gap: 52px;
      }
      @include me.sp {
        row-gap: 16px;
      }
    }

    &-heading {
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.8;
    }

    &-label {
      display: inline-block;
      padding-inline: 10px;
      padding-block: 2px;
      background-color: var(--c-white);
      color: var(--c-black-base);
    }

    &-content {
      font-size: 1.4rem;
      line-height: 1.7;
    }
  }

  &__btn {
    margin-block-start: 40px;
    @include me.pc {
      max-width: 380px;
    }
    @include me.sp {
      display: none;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

</style>
