---

---

<div class="c-article">
  <figure>
    <img src="/common/images/dummy/project_detail_01.png" alt="">
    <figcaption>Photo: Hulton Archive / Getty Images</figcaption>
  </figure>
  <figure>
    <img src="/common/images/dummy/project_detail_02.png" alt="">
  </figure>
  <p>
    IN FOCUSのプロジェクトメンバーに集まってもらい、座談会形式でインタビューを実施。3DCGやモーショングラフィックが詰まった「大人も子どもも楽しく学べるコンテンツ」をどのように実現していったのか、制作の進め方やその裏側について語ってもらいました。
  </p>
  <figure>
    <img src="/common/images/dummy/project_detail_03.png" alt="">
  </figure>
  <figure>
    <img src="/common/images/dummy/project_detail_04.png" alt="">
  </figure>
  <figure>
    <img src="/common/images/dummy/project_detail_05.png" alt="">
  </figure>
  <figure>
    <img src="/common/images/dummy/project_detail_06.png" alt="">
  </figure>
</div>

<style lang="scss">
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.c-article {
  margin-block-start: 70px;
  font-family: var(--f-jp);
  @include me.pc {
    padding-inline: 30px;
  }
  @include me.sp {
    margin-block-start: 60px;
  }

  h2 {
    margin-block-end: 12px;
    font-size: 1.8rem;
    @include me.sp {
      font-size: 1.7rem;
    }
  }

  h3 {
    margin-block-end: 12px;
    font-size: 1.5rem;
    @include me.sp {
      font-size: 1.4rem;
    }
  }

  h4,
  h5,
  h6 {
    font-size: 1.4rem;
    margin-block-end: 12px;
    font-weight: 400;
  }

  p {
    margin-block-end: 30px;
    font-size: 1.4rem;
    line-height: 1.7;
    @include me.sp {
      margin-block-end: 20px;
    }
  }

  a {
    position: relative;
    color: var(--c-white);
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--c-white);
    }
  }

  em,
  i {
    font-style: italic;
  }

  u {
    position: relative;
    text-decoration: none;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--c-white);
    }
  }

  figure {
    margin-block-end: 30px;
    @include me.sp {
      margin-block-end: 20px;
    }

  }

  figcaption {
    display: inline-block;
    font-size: 1.1rem;
    margin-block-start: 20px;
  }

}

</style>
