---
import Layout from '@layouts/Layout.astro';
import CeoArticle from '@components/career/section/CeoArticle.astro';
import AsideInterview from '@components/career/section/AsideInterview.astro';
import Navi from '@components/career/parts/Navi.astro';

const pageMeta = {
  title: "CEO Message",
};

// Career APIデータを取得
let careerData = null;
try {
  const response = await fetch('https://infocus.wp.site-prev2.com/api/career.json');
  const data = await response.json();
  careerData = data[0]; // 配列の最初の要素を取得
} catch (error) {
  console.error('Career data fetch error:', error);
}

// インタビューデータはクライアントサイド(Jobs.js)で取得・レンダリング
---

<Layout
  title=""
  pageName="jobs"
  meta={pageMeta}
>

<div class="p-jobs-content">
  <div class="p-jobs-content__left" data-main-content>
    <div class="p-jobs-content__left-inner">
      <CeoArticle />
      <AsideInterview />
    </div>
  </div>
  <div class="p-jobs-content__right">
    <Navi />
  </div>
</div>

</Layout>

<style lang="scss">
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.p-jobs-content {
  display: grid;
  @include me.pc {
    grid-template-columns: 1fr 278px;
  }

  &__left {

    &-inner {
      @include me.sp {
        padding-block-end: 100px;
      }
    }
  }

  &__right {
    position: relative;
    width: 100%;
    height: 100%;
    padding-block-end: 90px;
    @include me.pc {
      border-left: solid 1px var(--c-white);
    }
    @include me.sp {
      display: none;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}
</style>
