---
interface Props {
  slug: string;
}

const { slug } = Astro.props;
---

<div class="p-news-detail__share">
  <span class="p-news-detail__share-title">(SHARE)</span>
  <ul class="p-news-detail__share-list">
    <li class="p-news-detail__share-item" data-share="instagram">
      <a href={`/news/${slug}`} target="_blank" rel="noopener noreferrer" aria-label="Instagramでシェア">
        Instagram
        <span class="p-news-detail__share-icon"><svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.95455 0.486328H10.0455C11.7064 0.486328 13.0145 0.486328 14.0636 0.581783C15.1345 0.678146 16.0236 0.879964 16.8182 1.33906C17.7855 1.89756 18.5888 2.70083 19.1473 3.66815C19.6064 4.46269 19.8082 5.35178 19.9045 6.42269C20 7.47178 20 8.77996 20 10.4409V10.5318C20 12.1927 20 13.5009 19.9045 14.55C19.8082 15.6209 19.6064 16.51 19.1473 17.3045C18.5888 18.2718 17.7855 19.0751 16.8182 19.6336C16.0236 20.0927 15.1345 20.2945 14.0636 20.3909C13.0145 20.4863 11.7064 20.4863 10.0455 20.4863H9.95455C8.29364 20.4863 6.98546 20.4863 5.93636 20.3909C4.86545 20.2945 3.97636 20.0927 3.18182 19.6336C2.2145 19.0751 1.41123 18.2718 0.852727 17.3045C0.393636 16.51 0.191818 15.6209 0.0954546 14.55C2.03198e-08 13.5009 0 12.1927 0 10.5318L0 10.4409C0 8.77996 2.03198e-08 7.47178 0.0954546 6.42269C0.191818 5.35178 0.393636 4.46269 0.852727 3.66815C1.41123 2.70083 2.2145 1.89756 3.18182 1.33906C3.97636 0.879964 4.86545 0.678146 5.93636 0.581783C6.98546 0.486328 8.29364 0.486328 9.95455 0.486328ZM6.1 2.39178C5.15545 2.47815 4.56273 2.64087 4.09091 2.9136C3.39997 3.31253 2.8262 3.8863 2.42727 4.57724C2.15455 5.04906 1.99091 5.64178 1.90545 6.58633C1.81909 7.54451 1.81818 8.76997 1.81818 10.4863C1.81818 12.2027 1.81909 13.4281 1.90545 14.3863C1.99182 15.3309 2.15455 15.9236 2.42727 16.3954C2.8262 17.0864 3.39997 17.6601 4.09091 18.0591C4.56273 18.3318 5.15545 18.4954 6.1 18.5809C7.05818 18.6672 8.28364 18.6681 10 18.6681C11.7164 18.6681 12.9418 18.6672 13.9 18.5809C14.8445 18.4945 15.4373 18.3318 15.9091 18.0591C16.6 17.6601 17.1738 17.0864 17.5727 16.3954C17.8455 15.9236 18.0091 15.3309 18.0945 14.3863C18.1809 13.4291 18.1818 12.2027 18.1818 10.4863C18.1818 8.76997 18.1809 7.54451 18.0945 6.58633C18.0082 5.64178 17.8455 5.04906 17.5727 4.57724C17.1738 3.8863 16.6 3.31253 15.9091 2.9136C15.4373 2.64087 14.8445 2.47724 13.9 2.39178C12.9427 2.30542 11.7164 2.30451 10 2.30451C8.28364 2.30451 7.05818 2.30542 6.1 2.39178ZM14.3182 5.26087C14.3182 4.75906 14.7273 4.34996 15.2291 4.34996C15.7309 4.34996 16.14 4.75906 16.14 5.26087C16.14 5.76269 15.7309 6.17178 15.2291 6.17178C14.7273 6.17178 14.3182 5.76269 14.3182 5.26087ZM10 7.30451C9.58216 7.30451 9.16841 7.38681 8.78237 7.54671C8.39634 7.70661 8.04557 7.94098 7.75012 8.23644C7.45466 8.5319 7.22028 8.88266 7.06038 9.2687C6.90048 9.65474 6.81818 10.0685 6.81818 10.4863C6.81818 10.9042 6.90048 11.3179 7.06038 11.704C7.22028 12.09 7.45466 12.4408 7.75012 12.7362C8.04557 13.0317 8.39634 13.266 8.78237 13.4259C9.16841 13.5858 9.58216 13.6681 10 13.6681C10.8439 13.6681 11.6532 13.3329 12.2499 12.7362C12.8466 12.1395 13.1818 11.3302 13.1818 10.4863C13.1818 9.64246 12.8466 8.83315 12.2499 8.23644C11.6532 7.63974 10.8439 7.30451 10 7.30451ZM5 10.4863C5 9.16025 5.52678 7.88848 6.46447 6.95079C7.40215 6.01311 8.67392 5.48633 10 5.48633C11.3261 5.48633 12.5979 6.01311 13.5355 6.95079C14.4732 7.88848 15 9.16025 15 10.4863C15 11.8124 14.4732 13.0842 13.5355 14.0219C12.5979 14.9595 11.3261 15.4863 10 15.4863C8.67392 15.4863 7.40215 14.9595 6.46447 14.0219C5.52678 13.0842 5 11.8124 5 10.4863Z" fill="white"/></svg></span>
      </a>
    </li>
    <li class="p-news-detail__share-item" data-share="x">
      <a href={`/news/${slug}`} target="_blank" rel="noopener noreferrer" aria-label="X（旧Twitter）でシェア">
        X
        <span class="p-news-detail__share-icon"><svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_259_424)"><path d="M11.9027 8.95061L19.3482 0.486328H17.5838L11.119 7.83575L5.95547 0.486328H0L7.8082 11.6L0 20.4761H1.76443L8.59152 12.7148L14.0445 20.4761H20L11.9023 8.95061H11.9027ZM9.48608 11.6979L8.69495 10.5912L2.40018 1.78534H5.11025L10.1902 8.89195L10.9813 9.99862L17.5847 19.2361H14.8746L9.48608 11.6983V11.6979Z" fill="white"/></g><defs><clipPath id="clip0_259_424"><rect width="20" height="20" fill="white" transform="translate(0 0.486328)"/></clipPath></defs></svg></span>
      </a>
    </li>
    <li class="p-news-detail__share-item" data-share="copy">
      <a href={`/news/${slug}`} target="_blank" rel="noopener noreferrer" aria-label="URLをクリップボードにコピー">
        Link Copy
        <span class="p-news-detail__share-icon"><svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.7981 3.21835C18.4754 2.89556 18.0922 2.63951 17.6705 2.46482C17.2488 2.29013 16.7968 2.20022 16.3403 2.20022C15.8839 2.20022 15.4319 2.29013 15.0102 2.46482C14.5885 2.63951 14.2053 2.89556 13.8825 3.21835L11.7763 5.32462L10.3711 3.92044L12.4784 1.81417C13.505 0.801221 14.8906 0.235433 16.3328 0.240265C17.775 0.245097 19.1567 0.820155 20.1765 1.83996C21.1963 2.85976 21.7714 4.24152 21.7762 5.68374C21.7811 7.12595 21.2153 8.51153 20.2023 9.53815L17.0424 12.698C16.0182 13.7223 14.629 14.2977 13.1804 14.2977C11.7319 14.2977 10.3427 13.7223 9.31845 12.698L7.7961 11.1757L9.20127 9.77151L10.7226 11.2939C11.0454 11.6166 11.4286 11.8727 11.8503 12.0474C12.272 12.2221 12.724 12.312 13.1804 12.312C13.6369 12.312 14.0889 12.2221 14.5106 12.0474C14.9323 11.8727 15.3155 11.6166 15.6383 11.2939L18.7981 8.13397C19.1209 7.81121 19.377 7.42804 19.5517 7.00633C19.7264 6.58461 19.8163 6.13262 19.8163 5.67616C19.8163 5.21969 19.7264 4.7677 19.5517 4.34599C19.377 3.92427 19.1209 3.5411 18.7981 3.21835ZM11.4247 9.1866C11.102 8.86382 10.7188 8.60777 10.2971 8.43308C9.87537 8.25839 9.42338 8.16847 8.96691 8.16847C8.51045 8.16847 8.05846 8.25839 7.63674 8.43308C7.21503 8.60777 6.83186 8.86382 6.5091 9.1866L3.34921 12.3465C2.69735 12.9984 2.33115 13.8825 2.33115 14.8043C2.33115 15.7262 2.69735 16.6103 3.34921 17.2621C4.00106 17.914 4.88516 18.2802 5.80702 18.2802C6.72887 18.2802 7.61297 17.914 8.26482 17.2621L10.3721 15.1559L11.7763 16.56L9.669 18.6663C8.64239 19.6792 7.25681 20.245 5.81459 20.2402C4.37238 20.2354 2.99062 19.6603 1.97082 18.6405C0.951014 17.6207 0.375956 16.2389 0.371124 14.7967C0.366293 13.3545 0.93208 11.9689 1.94503 10.9423L5.10592 7.78242C6.1302 6.75819 7.51939 6.18279 8.96791 6.18279C10.4164 6.18279 11.8056 6.75819 12.8299 7.78242L14.1169 9.06942L12.7127 10.4736L11.4247 9.1866Z" fill="white"/></svg></span>
      </a>
    </li>
  </ul>

  <div class="p-news-detail__share-tooltip" id="shareTooltip">
    <span class="p-news-detail__share-tooltip-text">クリップボードにコピーしました。</span>
    <div class="p-news-detail__share-tooltip-arrow"></div>
  </div>
</div>

<style lang="scss">
@use '../../../assets/scss/mediaquery' as me;
@use '../../../assets/scss/mixin' as mi;

.p-news-detail__share {
  display: flex;
  align-items: center;
  column-gap: 33px;
  position: relative;
  margin-block-start: 100px;
  @include me.pc {
    max-width: max-content;
    margin-inline: auto;
  }
  @include me.sp {
    margin-block-start: 70px;
  }

  &-title {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.65;
    @include me.sp {
      font-size: 1.6rem;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  &-item {

    a {
      display: inline-block;
      color: var(--c-white);
      font-size: 0;
    }

  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }

  &-tooltip {
    position: absolute;
    bottom: 32px;
    left: 44%;
    background: #333;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 1.2rem;
    white-space: nowrap;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    @include me.sp {
      left: 28%;
    }
    &.is-visible {
      opacity: 1;
      visibility: visible;
      transform: translateY(-10px);
    }
    &-text {
      display: block;
      line-height: 1.4;
    }
    &-arrow {
      position: absolute;
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #333;
    }
  }
}
</style>
