---
export interface MetaProps {
  title?: string;
  description?: string;
  canonical?: string;
  isOgp?: string;
  ogpTitle?: string;
  ogpDescription?: string;
  ogpType?: string;
  ogpUrl?: string;
  ogpImage?: string;
  ogpSiteName?: string;
  fbAppId?: string;
  isTwitterCard?: string;
  twitterCard?: string;
  twitterTitle?: string;
  twitterDesciption?: string;
  twitterImage?: string;
  twitterUrl?: string;
}

import configData from '../../website.config.js';
const config = configData;

interface Props {
  title?: string;
  pageMeta?: MetaProps;
}

const { title, pageMeta = {} } = Astro.props;
const meta = { ...config.meta, ...pageMeta };
const _meta_ = {
  title: title || meta.title,
  description: meta.description,
  canonical: Astro.url.pathname,
  ogpType: meta.ogpType,
  ogpUrl: Astro.url.href,
  ogpSiteName: meta.ogpSiteName,
  ogpTitle: meta.ogpTitle || title || meta.title,
  ogpDescription: meta.ogpDescription || meta.description,
  ogpImage: meta.ogpImage,
  isOgp: meta.isOgp,
  isTwitterCard: meta.isTwitterCard,
  twitterCard: meta.twitterCard,
  twitterTitle: meta.twitterTitle || title || meta.title,
  twitterDesciption: meta.twitterDesciption || meta.description,
  twitterImage: meta.twitterImage || meta.ogpImage,
  twitterUrl: meta.twitterUrl || Astro.url.href,
  fbAppId: meta.fbAppId
};
---

<title>{_meta_.title || meta.title}</title>
{_meta_.canonical && <link rel="canonical" href={_meta_.canonical} />}
<meta name="description" content={_meta_.description || meta.description} />

{(_meta_.isOgp || meta.isOgp) === 'show' && (
  <>
    <meta property="og:type" content={_meta_.ogpType || meta.ogpType} />
    <meta property="og:site_name" content={_meta_.ogpSiteName || meta.ogpSiteName} />
    <meta property="og:url" content={_meta_.ogpUrl || meta.ogpUrl || ''} />
    <meta property="og:title" content={_meta_.ogpTitle || _meta_.title || meta.ogpTitle || meta.title} />
    <meta property="og:image" content={_meta_.ogpImage || meta.ogpImage || ''} />
    <meta property="og:description" content={_meta_.ogpDescription || _meta_.description || meta.ogpDescription || meta.description} />
    {meta.fbAppId && <meta name="fb:app_id" content={meta.fbAppId} />}
  </>
)}

{(_meta_.isTwitterCard || meta.isTwitterCard) === 'show' && (
  <>
    <meta name="twitter:card" content={_meta_.twitterCard || meta.twitterCard} />
    <meta name="twitter:title" content={_meta_.twitterTitle || _meta_.title || meta.twitterTitle || meta.title} />
    <meta name="twitter:url" content={_meta_.twitterUrl || meta.twitterUrl || _meta_.ogpUrl || meta.ogpUrl} />
    <meta name="twitter:description" content={_meta_.twitterDesciption || _meta_.description || meta.twitterDesciption || meta.description} />
    <meta name="twitter:image" content={_meta_.twitterImage || _meta_.ogpImage || meta.twitterImage || meta.ogpImage} />
  </>
)}
